.section--hero {
  background-color: #535d5a;
}

.hero__container {
  height: 200vh;
  margin-block-end: -110vh;
}

.hero__wrapper {
  min-height: 95vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-size: clamp(16rem, 6vw, 28rem);
  line-height: 1;
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: -1rem;
}

.hero__cta__wrapper {
  margin-block-start: 14rem;
}